html {
  font-size: 16px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
}

body {
  margin: 0;
}

.post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 6rem;
  margin: 0 auto;
  padding: 1rem 0;
  border-top: solid 4px black;

  &:last-of-type {
    border-bottom: solid 4px black;
  }

  &__book {
    flex: 2;

    &-info {
    }

    &-title {
      font-size: 1.25rem;
      margin: 0;
      text-align: right;
    }

    &-author {
      display: none;
    }

    &-year {
      display: none;
    }

    &-recommendation {
      display: none;
    }

    &-summary {
    }

    &-audience {
      display: none;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 8rem;
    max-width: 4rem;
    margin: -1rem 0.5rem 0;

    &-guest {
      flex: 1;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-book {
      flex: 1;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__guest {
    flex: 2;

    &-name {
      font-size: 1.5rem;
      margin: 0;
    }

    &-bio {
      display: none;
    }
  }

  &__link {
    display: none;
  }

  // OPEN POST ITEM
  &--open {
    height: auto;
    flex-direction: column;

    .post {
      &__book {
        flex: 2;

        &-info {
        }

        &-title {
        }

        &-author {
          display: flex;
        }

        &-year {
          display: flex;
        }

        &-recommendation {
          display: flex;
        }

        &-summary {
        }

        &-audience {
          display: flex;
        }
      }

      &__images {
        flex: 1;

        &-book {
        }

        &-guest {
        }
      }

      &__guest {
        flex: 2;

        &-name {
        }

        &-bio {
          display: flex;
        }
      }

      &__link {
        display: flex;
      }
    }
  }
}
