$black: #19171a;
$red: #e9322e;
$grey-lightest: #e3e4e3;
$grey-light: #959794;
$grey-dark: #45433e;
$purple-lighter: #f8d7f8;
$purple-light: #554353;
$purple-dark: #543f52;
$purple-bright: #a32a99;

html {
  font-size: 16px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  color: $black;
}

body {
  margin: 0;
}

.post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 6rem;
  margin: 0 auto;
  padding: 1rem 0;
  border-top: solid 4px $black;

  &:last-of-type {
    border-bottom: solid 4px $black;
  }

  &__book {
    flex: 2;

    &-info {
    }

    &-cover {
      display: none;
    }

    &-title {
      font-size: 1.25rem;
      margin: 0;
      text-align: right;
    }

    &-author {
      display: none;
    }

    &-year {
      display: none;
    }

    &-recommendation {
      display: none;
    }

    &-summary {
    }

    &-audience {
      display: none;
    }
  }

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 8rem;
    max-width: 4rem;
    margin: -1rem 0.5rem 0;

    &-plus-sign {
      position: absolute;
      top: calc(50% - 1rem);
      left: calc(50% - 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      color: $purple-bright;
      font-size: 2rem;
      font-weight: 700;
      text-shadow: -2px 0 2px white, 0 2px 2px white, 2px 0 2px white,
        0 -2px 2px white;
      cursor: pointer;
      z-index: 101;
    }

    &-guest {
      flex: 1;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-book {
      flex: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__guest {
    flex: 2;

    &-name {
      font-size: 1.5rem;
      margin: 0;
    }

    &-bio {
      display: none;
    }

    &-picture {
      display: none;
    }
  }

  &__link {
    display: none;
  }

  // OPEN POST ITEM
  &--open {
    height: auto;
    flex-direction: column;
    padding: 1rem;

    .post {
      &__book {
        flex: 2;
        display: flex;
        flex-direction: column;

        &-info {
          flex: 2;
          display: flex;
        }

        &-cover {
          flex: 1;
          display: inline-block;
        }

        &-details {
          flex: 2;
          padding-left: 0.5rem;
        }

        &-title {
          text-align: left;
        }

        &-author {
          display: flex;
        }

        &-year {
          display: flex;
        }

        &-recommendation {
          flex: 3;
          display: flex;
          flex-direction: column;
        }

        &-summary {
        }

        &-audience {
          display: flex;
        }
      }

      &__images {
        display: none;

        &-book {
        }

        &-guest {
        }
      }

      &__guest {
        flex: 2;
        display: flex;
        // border-top: solid 1px $grey-lightest;
        padding-top: 1rem;

        &-details {
          flex: 1;
        }

        &-name {
        }

        &-bio {
          display: flex;
        }

        &-picture {
          width: 4rem;
          display: inline-block;
        }
      }

      &__link {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        text-align: right;
        color: $purple-bright;
        text-decoration: none;

        &-arrow {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
